@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 719px;
  margin: 0 auto;
  padding: 20px;
}
